// fonts
@font-face {
    font-family: 'OpenSans-R';
    src: url('../fonts/OpenSans-Regular.ttf');
}

@font-face {
    font-family: 'OpenSans-M';
    src: url('../fonts/OpenSans-Medium.ttf');
}

@font-face {
    font-family: 'OpenSans-SB';
    src: url('../fonts/OpenSans-SemiBold.ttf');
}

@font-face {
    font-family: 'OpenSans-B';
    src: url('../fonts/OpenSans-Bold.ttf');
}

//colors
$red: #F15E4A;
$redHover: #ff1e00;
$text: #4a465c;

// global styles
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
    font-family: 'OpenSans-B', sans-serif;
    color: $text;
}

p,
a,
span,
button {
    color: $text;
    text-decoration: none;
    font-family: 'OpenSans-R', sans-serif;
}

ul {
    list-style: none;
}

.container {
    width: 80rem;
    margin: 0 auto;
}

html,
body {
    position: relative;
}

a:hover {
    color: $redHover;
    transition: .2s;
}

main {
    padding-bottom: 180px;
}

.active {
    color: $redHover;
}

// header
header {
    height: auto;
    width: 100%;
    background-color: #fff;
    z-index: 1;
    margin-bottom: 80px;

    .container {
        .header__info {
            margin-top: 20px;
            padding-bottom: 15px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .cityPlusLogo,
            ul {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 25px;

                .geo {
                    color: $red;
                    display: flex;
                    align-items: center;
                    gap: 5px;
                    user-select: none;

                    p {
                        color: $red;
                    }
                }

                img {
                    width: 50px;
                    height: 50px;
                    max-width: 50px;
                    max-height: 50px;
                }

                li:last-child a {
                    color: $red;
                    font-family: 'OpenSans-SB', sans-serif;
                }

                li:last-child a:hover {
                    color: $redHover;
                }
            }
        }

        .header__nav {
            nav {
                display: flex;
                align-items: center;
                justify-content: space-between;

                ul {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    gap: 6em;

                }

                .cabinet {
                    display: flex;
                    position: relative;
                    align-items: center;
                    gap: 1.5em;

                    i {
                        font-size: 20px;
                        color: $text;
                    }

                    .profile {
                        width: 40px;
                        height: 40px;
                        position: relative;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-radius: 50px;
                        cursor: pointer;
                        transition: .2s;

                        i {
                            margin-top: -5px;
                        }

                        &:hover {
                            background-color: #ffd8d2;
                        }
                    }

                    .cart {
                        width: auto;
                        height: 40px;
                        padding: 0 10px;
                        position: relative;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-radius: 50px;
                        cursor: pointer;
                        transition: .2s;
                        background-color: #ffd8d2;

                        #cartCount {
                            font-size: 14px;
                            font-family: 'OpenSans-SB', sans-serif;
                            background-color: $redHover;
                            color: #fff;
                            user-select: none;
                            padding: 2px 5px 2px 6px;
                            margin-left: 5px;
                            border-radius: 8px;
                            display: block;
                        }
                    }

                    .cartModal {
                        width: 450px;
                        min-height: 150px;
                        position: absolute;
                        background-color: #fff;
                        border-radius: 5px;
                        right: 0;
                        display: block;
                        top: 50px;
                        z-index: 999;
                        transition: all .3s ease-in-out;
                        box-shadow: 0px 0px 5px 3px #4a465c31;
                        opacity: 0;

                        .cartInfo {
                            display: flex;
                            align-items: flex-start;
                            justify-content: space-between;
                            width: 100%;
                            height: 100%;
                            flex-flow: column;
                            padding: 20px;
                            bottom: 0;
                            left: 0;

                            .infoOfCart{
                                display: flex;
                                align-items: center;
                                justify-content: space-between;
                                width: 100%;
                                margin-top: 25px;
                                p{
                                    font-size: 14px;
                                }
                                button {
                                    padding: 10px 15px; 
                                    border: none;
                                    outline: none;
                                    font-family: 'OpenSans-SB', sans-serif;
                                    border-radius: 5px;
                                    font-size: 16px;
                                    cursor: pointer;
                                    color: #4a465c;
                                    background-color: #fdeeee;
                                    transition: all .2s;
                                    
                                    &:hover {
                                        background-color: #f7d4d4;
                                    }
                                }
                            }
                        }

                        .prod{
                            display: flex;
                            align-items: center;
                            justify-content: start;
                            gap: 15px;
                            width: 100%;
                            &:not(:first-child){
                                padding-top: 7px;
                                margin-top: 10px;
                                border-top: 1px solid rgb(230, 230, 230);
                                width: 100%;
                            }
                            
                            img{
                                object-fit: contain;
                                margin: 0 auto;
                                max-width: 70px;
                            }
                            &__wrapper{
                                display: flex;
                                align-items: center;
                                width: 100%;
                                justify-content: space-between;
                                .title{
                                    font-family: 'OpenSans-SB', sans-serif;
                                    font-size: 14px;
                                }
                                .priceOdProd{
                                    font-size: 16px;
                                    font-family: 'OpenSans-SB', sans-serif;
                                }
                                .deleteProd{
                                    outline: none;
                                    border: none;
                                    background-color: #fff;
                                    border-radius: 5px;
                                    padding: 0px 5px 5px 5px;
                                    cursor: pointer;
                                    border: 1px solid $red;
                                    i{
                                        color: $red;
                                        user-select: none;
                                    }
                                    &:hover{
                                        border: 1px solid $redHover;
                                        i{
                                            color: $redHover;
                                        }
                                    }
                                }
                            }
                            .formWrapper{
                                display: flex;
                                align-items: center;
                                gap: 5px;
                                margin-top: 7px;
                                justify-content: center;
                                input{
                                    outline: none;
                                    border: none;
                                    height: 21px;
                                    text-align: center;
                                    background-color: #fff;
                                    width: 40px;
                                    border: 1px solid $red;
                                    &:focus{
                                        border: 1px solid $redHover;
                                    }
                                }
                                button{
                                    outline: none;
                                    border: none;
                                    background-color: #fff;
                                    border: 1px solid $red;
                                    padding: 0 5px;
                                    font-family: 'OpenSans-B', sans-serif;
                                    font-size: 14px;
                                    font-weight: 700;
                                    color: $red;
                                    cursor: pointer;
                                    &:hover{
                                        border: 1px solid $redHover;
                                        color: $redHover;
                                    }
                                    &:first-child{
                                        border-top-left-radius: 5px;
                                        border-bottom-left-radius: 5px; 
                                    }
                                    &:last-child{
                                        border-top-right-radius: 5px;
                                        border-bottom-right-radius: 5px;
                                    }
                                }
                            }
                        }
                    }
                }
            }

        }
    }

    hr {
        color: rgb(241, 241, 241);
        margin-bottom: 20px;
    }
}

//footer
footer {
    width: 100%;
    height: auto;
    position: absolute;
    bottom: 0;
    left: 0;
    padding-bottom: 20px;

    .container {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        font-size: 14px;
        color: $text;

        img {
            width: 100px;
            height: 100px;
            max-width: 100px;
            max-height: 100px;
        }

        .socials {
            margin-top: 20px;
            display: flex;
            gap: 3em;
            align-items: center;

            i {
                color: $red;
                font-size: 20px !important;
                transition: .2s;

                &:hover {
                    color: $redHover;
                }
            }
        }
    }

    hr {
        color: rgb(241, 241, 241);
        margin-bottom: 20px;
    }
}

//prof.php
#profBody {
    height: 80vh !important;
}

.prof {
    display: block;
    margin-bottom: -200px;

    .container {
        margin-top: 50px;
        display: flex;
        align-items: center;
        justify-content: center;

        &__signIn {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-flow: column;
            padding: 20px;
            border-radius: 10px;
            width: 300px;
            box-shadow: 0px 0px 5px 5px #f1f1f1;

            h2 {
                margin-bottom: 25px;
            }

            p {
                font-size: 14px;
                margin-bottom: 5px;
            }

            form {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-flow: column;
                width: 100%;

                input {
                    padding: 5px 10px;
                    outline: none;
                    width: 100%;
                    border-radius: 5px;
                    color: $text;
                    border: 1px solid #aaaaaa;
                    margin-bottom: 5px;
                }

                button {
                    padding: 5px;
                    border: none;
                    outline: none;
                    width: 100%;
                    border-radius: 5px;
                    font-size: 16px;
                    cursor: pointer;
                    color: #4a465c;
                    background-color: #fdeeee;
                    transition: all .2s;

                    &:hover {
                        background-color: #f7d4d4;
                    }
                }
            }
        }
    }
}

.profActive {
    background-color: #f7d4d4;
}

#profSession {
    .container {
        display: flex;
        flex-flow: column;

        .prof__lett {
            display: flex;
            width: 100%;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 20px;

            button {
                padding: 5px 10px;
                border: none;
                outline: none;
                width: 100%;
                border-radius: 5px;
                font-size: 16px;
                cursor: pointer;
                color: $text;
                background-color: #fdeeee;
                transition: all .2s;

                &:hover {
                    background-color: #f7d4d4;
                }
            }
        }

        .prof__wrapperMain {
            display: flex;
            flex-flow: column;
            justify-content: start;
            padding: 25px;
            width: 100%;
            border-radius: 20px;
            height: auto;
            box-shadow: 0px 0px 5px 5px #f1f1f1;

            h2 {
                margin-bottom: 20px;
            }

            form {
                .wrap {
                    input {
                        padding: 5px 10px;
                        outline: none;
                        width: 200px;
                        border-radius: 5px;
                        color: $text;
                        border: 1px solid #aaaaaa;
                        margin-bottom: 5px;
                    }
                }

                button {
                    padding: 5px 10px;
                    border: none;
                    outline: none;
                    margin-top: 15px;
                    align-self: end;
                    border-radius: 5px;
                    font-size: 16px;
                    cursor: pointer;
                    color: $text;
                    background-color: #fdeeee;
                    transition: all .2s;

                    &:hover {
                        background-color: #f7d4d4;
                    }
                }
            }
        }
    }
}

//delivery
.del {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    margin-bottom: -200px;

    h1 {
        color: $text;
        margin-bottom: 50px;
    }
}

//product card
.rec {
    h2 {
        margin-bottom: 50px;
    }
}

#grid-wrap {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    position: relative;
    gap: 26px;
    margin-bottom: 100px;

    .cards {
        height: 465px !important;
        display: flex;
        flex: 1 1 100%;
        border-radius: 7px;
        overflow: hidden;
        border: none;
        max-width: 300px;
        position: relative;
        justify-content: center;
        flex-flow: column;
        padding: 20px;
        box-shadow: 0px 0px 5px 3px #f1f1f1;

        .img {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            margin-bottom: 10px;

            img {
                object-fit: contain;
                margin: 0 auto;
                height: 170px;
            }
        }

        .cardInfo {
            position: relative;
            width: 100%;
            height: 100%;

            h3 {
                font-size: 16px;
                margin-bottom: 5px;
            }

            .weight {
                font-size: 12px;
                color: #949494;
                margin-bottom: 15px;
            }

            .description {
                font-size: 14px;
                color: #696969;
            }

            .form {
                display: flex;
                align-items: center;
                justify-content: space-between;
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;

                button {
                    width: 35px;
                    height: 35px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border: none;
                    outline: none;
                    border-radius: 5px;
                    font-size: 24px;
                    font-family: 'OpenSans-SB', sans-serif;
                    cursor: pointer;
                    color: $text;
                    background-color: #fdeeee;
                    transition: all .2s;

                    &:hover {
                        background-color: #f7d4d4;
                    }
                }
            }
        }
    }

    .card {
        display: flex;
        height: 420px;
        flex: 1 1 100%;
        border-radius: 7px;
        overflow: hidden;
        border: none;
        max-width: 300px;
        position: relative;
        justify-content: center;
        flex-flow: column;
        padding: 20px;
        box-shadow: 0px 0px 5px 3px #f1f1f1;

        .img {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            margin-bottom: 10px;

            img {
                object-fit: contain;
                margin: 0 auto;
                height: 170px;
            }
        }

        .cardInfo {
            position: relative;
            width: 100%;
            height: 100%;

            h3 {
                font-size: 16px;
                margin-bottom: 5px;
            }

            .weight {
                font-size: 12px;
                color: #949494;
                margin-bottom: 15px;
            }

            .description {
                font-size: 14px;
                color: #696969;
            }

            form {
                display: flex;
                align-items: center;
                justify-content: space-between;
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;

                button {
                    width: 35px;
                    height: 35px;
                    border: none;
                    outline: none;
                    border-radius: 5px;
                    font-size: 24px;
                    font-family: 'OpenSans-SB', sans-serif;
                    cursor: pointer;
                    color: $text;
                    background-color: #fdeeee;
                    transition: all .2s;

                    &:hover {
                        background-color: #f7d4d4;
                    }
                }
            }
        }
    }
}

// index.php slider
.slider {
    .container {
        position: relative;
    }

    margin: 100px 0;

    &__wrapper {
        // outline: 1px solid black;
        height: auto;
        overflow: hidden;
    }

    &__items {
        display: flex;
        align-items: center;
        left: 0;
        transition: all .3s ease-in-out;
        flex-flow: row nowrap;
        position: relative;

        a {
            height: 430px;
            width: auto;
            display: block;
        }

        img {
            border-radius: 20px;
            width: 1280px;
            height: 430px;
            object-fit: cover;
        }
    }

    &__controls {
        position: absolute;
        top: 48%;
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-between;
        left: 0;
        z-index: 99;
    }

    &__control {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: none;
        background-color: rgb(255, 255, 255);
        cursor: pointer;
        outline: none;
        display: flex;
        transition: all .1s;
        align-items: center;
        justify-content: center;

        i {
            display: block;
            font-size: 24px;
            color: $text;
            margin-top: -10px;
        }

        &:first-child {
            margin-left: 25px;
        }

        &:last-child {
            margin-right: 25px;
        }

        &:hover {
            background-color: rgba(255, 255, 255, 0.829);
        }
    }
}